#if 0
Copyright (c) 2025 Maxim [maxirmx] Samsonov. All Rights Reserved
#endif

#include "resource.h"
#include "winres.h"
#include <ntverp.h>
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Audio Injector APO"
#define VER_INTERNALNAME_STR            "AudioInjectorAPO"
#define VER_ORIGINALFILENAME_STR        "AudioInjectorAPO.Dll"
#include <Common.ver>

IDR_AUDIOINJECTORAPODLL          REGISTRY                "AudioInjectorAPODll.rgs"
IDR_AUDIOINJECTORAPOMFX          REGISTRY                "AudioInjectorAPOMFX.rgs"
IDR_AUDIOINJECTORAPOSFX          REGISTRY                "AudioInjectorAPOSFX.rgs"

// ICON
IDI_EFFECT_ICON			RCDATA		 "AudioInjectorAPO.png"

#if 0
1                       TYPELIB                 "AudioInjectorAPODll.tlb"
#endif
